Antskaitis, Arina  <a.antskaitis@oth-aw.de>
Bodner, Manuel <m.bodner@oth-aw.de>
Niedernhuber, Benedikt <b.niedernhuber@oth-aw.de>
Oganisyan, Arsen <a.oganisyan@oth-aw.de>
Veshi, Eni <e.veshi@oth-aw.de>
Karao, Etem <e.karao@oth-aw.de> Etem Karao <etemkarao123@gmail.com>
Karao, Etem <e.karao@oth-aw.de> etemkarao <e.karao@oth-aw.de>
Kraus, Kevin <k.kraus1@oth-aw.de>